.text-login {
  font-size: 50px;
}


.login-form {
  text-align: left;
  border: 10px;
  border-color: black;
}

.login-box {
  min-height: 70vh;
  display: flex;
  align-items:center;
  justify-content: center;
  background: white;
}
